.login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
@media (min-width: 992px) {
    .login-form {
        width: 400px;
    }
}
.login-form .btn-3d {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #2689e2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #104a7c;
    transition: all 0.3s ease;
}
.login-form .btn-3d:active {
    box-shadow: 0 2px #6610f2;
    transform: translateY(3px);
}
.login-form .btn-3d:hover {
    background-color: #6610f2;
    box-shadow: 0 5px #34067e;
}
.login {
    background: linear-gradient(40deg, #2689e2 30%, #6610f2);
    height: 92vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@media (min-width: 768px) {
    .login12 {
        z-index: 99 !important;
        background-image: url('/assets/img/8801955.png');
        background-position-y: center;
        background-size: 35%;
        background-position: left;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        justify-content: end;
        padding-right: 2rem;
        align-items: center;
        margin-left: 5rem;
    }
}
@media (min-width: 768px) {
    .login1 {
        z-index: 99 !important;
        background-image: url('/assets/img/online-test-portal-500x500.webp'), url('/assets/img/mock-test.png');
        background-size: 35% , 30%; 
        background-position: left, right;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
@media (max-width: 767px) {
    .login1 {
        z-index: 99 !important;
        background-image: none;
    }
}
@media (max-width: 767px) {
    .login {
        display: flex;
    }
}
.bar{
    background-color: #2689e2;
    border-radius: 0%;
}
.col-md-12 .drop button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
    font-size: 1rem;
    background-color: #2689e2;
}
.col-md-12 .drop {
    overflow-x: auto;
    white-space: nowrap;
}
.backborder {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar{
background-color: #706e72;
margin-top: 2rem;
border-radius: 25px;
}
::-webkit-scrollbar-thumb{
background-color: #2689e2;
border-radius: 25px;

margin-top: 2rem;
}
::-webkit-scrollbar-thumb:hover{
background-color: #2689e2;
border-radius: 25px;

margin-top: 2rem;
}
::-webkit-scrollbar-track{
background-color: #706e72;
border-radius: 25px;

}
.awnswered-button{
    background-color: green !important;
    border-radius: 25%;
    color: white;
}
.notawnswered-button{
    background-color: #2689e2 !important;
    border-radius: 25%;
    color: white;
}
.activequestion{
    background-color: red !important;
    color: white;
    border-radius: 25%;
}
.markquestion{
    background-color: purple !important;
    color: white;
    border-radius: 25%;
}
